@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');

html, body {
  height: 100%;
  min-width: 830px;
  font-size: 100%;
}

h1, h2, h3, h4, h5 ,h6 {
  margin: 10px 0 20px;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 2.15rem;
}

h1.page-title {
  color: #88b9b8;
  font-size: 2.25rem;
  text-transform: uppercase;
}

a, a:hover {
  color: #ff6372;
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* UI Dashboard */

#ui-dashboard {
  height: 100%;
}

/* UI Dashboard - Sidebar */

.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 10px solid #88b9b8;
  background: linear-gradient(to top, #d5efef, #76a9a8);
  overflow: hidden;
}

.logo {
  width: 250px;
  display: block;
  margin: 25px auto;
}

.logo a {
  color: inherit;
  text-decoration: none;
}

.user-profile {
  margin: 50px 30px;
  border-top-left-radius: 115px;
  border-top-right-radius: 115px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff9;
  text-align: center;
}

.profile-img {
  width: 230px;
  display: block;
  margin: 25px auto;
  border-radius: 100%;
}

.collection-overview {
  padding: 25px;
  text-align: center;
}

.collection-overview p {
  margin-bottom: 3px;
}

.crate-mates {
  width: 100%;
  padding-top: 20px;
}

.crate-mates-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px 30px 30px;
}

.crate-mates-images img {
  width: 100%;
  border-radius: 100%;
}

#display-record {
  width: 830px;
  position: absolute;
  left: -270px;
  bottom: -500px;
  z-index: -10;
}

/* UI Dashboard - Navbar */

.navbar {
  min-width: 830px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px 0 50px;
  padding: 0 20px 0 320px;
  z-index: 10;
}

.navbar a {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
}

.button-blue {
  background-color: #88b9b8;
  color: #fff;
}

.button-hollow {
  border: 1px solid #88b9b8;
  background-color: #fff;
  color: #88b9b8;
}

.button-blue:hover {
  color: #fff;
}

.button-hollow:hover {
  color: #88b9b8;
}

/* Main Content */

.main {
  min-height: 100%;
  padding: 100px 50px 50px;
  margin-left: 300px;
}

/* Collection Grid */

.collection-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  width: 100%;
  margin: 0 auto 25px;
}

.collection-grid p {
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .collection-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1600px) {
  .collection-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.collection-grid img {
  width: 100%;
}

.collection-grid .album, .collection-grid .artist {
  position: relative;
  width: 100%;
  box-shadow: 0 10px 20px -5px #3339;
  border-radius: 5px;
  overflow: hidden;
}

.overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

.album .overlay {
  width: 96%;
  height: 96%;
  margin: 2%;
  border-radius: 50%;
}

.album:hover .overlay, .artist:hover .overlay {
  visibility: visible;
}

/* Details */

.detail-main-panel {
  padding: 20px;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.detail-main-panel h2 {
  margin: 10px 0;
}

.detail-cover-image img{
  width: 100%;
  border-radius: 5px;
}

.cratemate-social-heading {
  font-size: 0.85rem;
  font-weight: normal;
  margin: 10px 0;
}

.cratemate-thumbnail {
  height: 50px;
  width: 50px;
  margin-left: 5px;
}

.cratemate-thumbnail img{
  width: 100%;
  border-radius: 10px;
}

/* Details - Album */

.track-list {
  padding-left: 30px;
}

.track-list li {
  margin-bottom: 15px;
}

.btn-edit, .btn-delete, .btn-mini-delete, .btn-collection {
  height: 30px;
  color: #fff;
  font-size: 0.75rem;
  line-height: 100%;
  text-transform: uppercase;
}

.btn-edit {
   background-color: #88b9b8;
}

.btn-delete {
  margin-right: 10px;
  background-color: #666;
}

.btn-mini-delete {
  opacity: 0;
  height: 20px;
  margin-left: 10px;
  padding: 0 5px;
  background-color: #c7002e;
}

.btn-collection {
  margin-left: 10px;
  background-color: #ff6372;
}

p:hover .btn-mini-delete, li:hover .btn-mini-delete {
  opacity: 1;
}

.artist-thumbnail {
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

.artist-thumbnail img {
  width: 100%;
  border-radius: 10px;
}

/* Artist Details */

.album-thumbnail {
  width: 100%;
  margin-right: 20px;
  border-radius: 10px;
  background-color: lightgray;
}

/* Release Form */

.form-container {
  min-width: 500px;
  max-width: 1000px;
  margin: 0 auto;
}

label {
  font-weight: bold;
}

form button {
  margin: 0 10px;
  color: #fff;
  text-transform: uppercase;
}

.form-group, .input-group{
  margin-bottom: 25px;
}

.indent {
  margin-left: 25px;
}

.indent .form-group {
  width: 48%;
}

.date-input {
  height: 38px;
}

.btn-cancel {
  background-color: #e46b59;
}

.btn-submit {
  background-color: #88b9b8;
}