{{#partial "content"}}

<div class="row">
    <div class="col">
        <div class="detail-cover-image"></div>
        <h1 class="page-title">Artist Name</h1>
        <p><strong>Biography</strong>: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="d-flex justify-content-end">
            <h6 class="cratemate-social-heading">Mates who own this album</h6>
        </div>
        <div class="d-flex justify-content-end">
            <div class="cratemate-thumbnail"></div>
            <div class="cratemate-thumbnail"></div>
            <div class="cratemate-thumbnail"></div>
        </div>
    </div>
    <!-- 2ND COLUMN -->
    <div class="col">
        <h1>In Collection</h1>
        <div class="d-flex justify-content-start">
            <div class="album-thumbnail"></div>
            <div class="album-thumbnail"></div>
        </div>
        <h1>Wishlist</h1>
        <div class="d-flex justify-content-start">
            <div class="album-thumbnail"></div>
        </div>
    </div>
</div>

{{/partial}}

{{> layout.hbs}}