{{#partial "content"}}

<div class="collection-grid">
    {{#each artists}}
        <div class="artist">
            <a href="/artists/{{id}}">
                <img src="{{imageUrl}}">
                <div class="overlay d-flex justify-content-center align-items-center">
                    <h4>{{name}}</h4>
                </div>
            </a>
        </div>
    {{/each}}
</div>

{{/partial}}

{{> layout.hbs}}