{{#partial "content"}}

<div class="collection-grid">
    {{#each releasesWithArtists}}
        <div class="album">
            <a href="/releases/{{this.id}}">
                <img src="{{this.imageUrl}}">
                <div class="overlay d-flex justify-content-center align-items-center flex-column">
                    <h4>{{this.title}}</h4>
                    {{#each @key}}
                        <p>{{this.name}}</p>
                    {{/each}}
                </div>
            </a>
        </div>
    {{/each}}
</div>

{{/partial}}

{{> layout.hbs}}