{{#partial "content"}}

<div class="collection-grid">
    {{#each releases}}
        <div class="album">
            <a href="/releases/{{id}}">
                <img src="{{imageUrl}}">
                <div class="overlay d-flex justify-content-center align-items-center flex-column">
                    <h4>{{title}}</h4>
                    <p>by Artist Name</p>
                </div>
            </a>
        </div>
    {{/each}}
</div>

{{/partial}}

{{> layout.hbs}}