{{#partial "content"}}

    <h1 class="page-title">Add/Edit Album</h1>
    <form action="/releases" method="post">
        <h2>Artist</h2>
        <div class="form-group">
            <label>Artist Name</label>
            <input class="form-control" list="artist-list" name="artistName">
            <datalist id="artist-list">
                {{#each artists}}
                    <option value="{{name}}">
                {{/each}}
            </datalist>
        </div>
        <div class="form-group">
            <label>Artist Image URL</label>
            <input class="form-control" type="text" name="artistImageUrl">
        </div>
        <!-- INNER FORM 1 - RELEASE SECTION -->
        <h2>Album</h2>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="isInCollection" value="true" checked>
                <label class="form-check-label" for="inlineRadio1">Collection</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="isInCollection" value="false">
                <label class="form-check-label" for="inlineRadio2">Wishlist</label>
            </div>
        </div>
        <div class="form-group">
            <label>Album Name</label>
            <input class="form-control" type="text" name="title">
        </div>
        <div class="form-group">
            <label>Album Image URL</label>
            <input class="form-control" type="text" name="releaseImageUrl">
        </div>
        <div class="d-flex justify-content-between indent">
            <div class="form-group">
                <label>Record Label</label>
                <input class="form-control" type="text" name="label">
            </div>
            <div class="form-group">
                <label>Catalog Number</label>
                <input class="form-control" type="text" name="labelNumber">
            </div>
        </div>
        <div class="d-flex justify-content-between indent">
            <div class="form-group">
                <label>Media Type</label>
                <select class="custom-select" name="mediaType">
                    <option selected>Choose...</option>
                    <option value="Single">Single</option>
                    <option value='12" Single'>12" Single</option>
                    <option value='LP'>LP</option>
                    <option value="EP">EP</option>
                    <option value='12" EP'>12" EP</option>
                    <option value='10"'>10"</option>
                    <option value="78 RPM">78 RPM</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label>Media Condition</label>
                <select class="custom-select" name="mediaCondition">
                    <option selected>Choose...</option>
                    <option value="6">Near Mint</option>
                    <option value="5">Very Good Plus</option>
                    <option value="4">Very Good</option>
                    <option value="3">Very Good Minus</option>
                    <option value="2">Good</option>
                    <option value="1">Poor</option>
                </select>
            </div>
        </div>
        <div class="d-flex justify-content-between indent">
            <div class="form-group">
                <label>Sleeve Type</label>
                <select class="custom-select" name="sleeveType">
                    <option selected>Choose...</option>
                    <option value="Picture Sleeve">Picture Sleeve</option>
                    <option value="Company Sleeve">Company Sleeve</option>
                    <option value="Brown Sleeve">Brown Sleeve</option>
                    <option value="LP Jacket">LP Jacket</option>
                    <option value="Plain Sleeve">Plain Sleeve</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label>Sleeve Condition</label>
                <select class="custom-select" name="sleeveCondition">
                    <option selected>Choose...</option>
                    <option value="6">Near Mint</option>
                    <option value="5">Very Good Plus</option>
                    <option value="4">Very Good</option>
                    <option value="3">Very Good Minus</option>
                    <option value="2">Good</option>
                    <option value="1">Poor</option>
                </select>
            </div>
        </div>
        <div class="d-flex justify-content-around">
            <div class="form-group">
                <label>Purchase Date</label>
                <input class="form-control" type="date" name="datePurchased">
            </div>
            <div class="form-group">
                <label>Price</label>
                <input class="form-control" type="number" step=".01" name="price">
            </div>
            <div class="form-group">
                <label>Seller</label>
                <input class="form-control" type="text" name="seller">
            </div>
        </div>
            <!-- INNER FORM 2 - NOTES SECTION -->
        <div class="form-group">
            <label>Notes</label>
            <textarea class="form-control" rows="6" name="content"></textarea>
        </div>
        <div class="d-flex justify-content-center">
            <button class="btn btn-cancel" type="button">Cancel</button>
            <button class="btn btn-submit" type="submit">Submit</button>
        </div>
    </form>

{{/partial}}

{{> layout.hbs}}